# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [4]:
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")

In [5]:
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [6]:
df1.head(2)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935

In [7]:
df2.head(2)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV

In [8]:
df3.tail()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [9]:
# Now we see the columns' name matches in all 3 databases, so we can merge them regularly.

In [10]:
column_names = ["Customer", "ST", "GENDER", "Education", "Customer Lifetime Value", "Income", "Monthly Premium Auto", "Number of Open Complaints", "Policy Type", "Vehicle Class", "Total Claim Amount"]

In [11]:
df3.rename(columns = {"State" : "ST"}, inplace = True)

In [12]:
df3.rename(columns = {"Gender" : "GENDER"}, inplace = True)

In [13]:
df1.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [14]:
df2.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto           int64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [15]:
df2["Number of Open Complaints"].unique()

array(['1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00', '1/4/00'],
      dtype=object)

In [16]:
df2["Income"] = df2["Income"].astype(float)
df2["Monthly Premium Auto"] = df2["Monthly Premium Auto"].astype(float)

In [17]:
df3["Income"] = df3["Income"].astype(float)
df3["Monthly Premium Auto"] = df3["Monthly Premium Auto"].astype(float)

In [18]:
#Since "Number of Complaints" are integers in df 3, and we want it in the same format as df1 and df2, we check for each value how it is written in those df's.

In [19]:
replace_dict = {0 : "1/0/00", 1 : "1/1/00", 2 : "1/2/00", 3 : "1/3/00", 4 : "1/4/00", 5 : "1/5/00"}

In [20]:
df3["Number of Open Complaints"] = df3["Number of Open Complaints"].replace(replace_dict)

In [21]:
#We want "Customer Lifetime Value" in df3 to be in the same format as in df1 and df2.

In [22]:
df3["Customer Lifetime Value"] = df3["Customer Lifetime Value"]*100

In [23]:
df3["Customer Lifetime Value"] = df3["Customer Lifetime Value"].round(2)

In [24]:
df3["Customer Lifetime Value"] = df3["Customer Lifetime Value"].astype(str)

In [25]:
df3["Customer Lifetime Value"] = df3["Customer Lifetime Value"]+"%"

In [26]:
df3.dtypes

Customer                      object
ST                            object
Customer Lifetime Value       object
Education                     object
GENDER                        object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Total Claim Amount           float64
Vehicle Class                 object
dtype: object

In [27]:
df = pd.concat([df1, df2, df3])

In [28]:
df.dropna(how = "all", inplace = True)

In [29]:
df.reset_index(drop=True, inplace=True)

In [30]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,Bachelor,2340598.8%,71941.0,73.0,1/0/00,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,F,College,309651.12%,21604.0,79.0,1/0/00,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,M,Bachelor,816389.04%,0.0,85.0,1/3/00,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,M,College,752444.24%,21941.0,96.0,1/0/00,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,M,College,261183.69%,0.0,77.0,1/0/00,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [31]:
marketing_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [32]:
marketing_df.head(5)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [33]:
marketing_df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [34]:
marketing_df["sales_channel"].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [35]:
mpt = marketing_df.pivot_table(
    index = "sales_channel",
    values = "income",
    aggfunc = "sum"
)

In [36]:
mpt.rename(columns = {"income" : "Total revenue"}, inplace = True)

mpt

               Total revenue
sales_channel
Agent              152490152
Branch             113775608
Call Center         81055004
Web                 62200103

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [39]:
avg_customer_lf_value = marketing_df.pivot_table(
    values = "customer_lifetime_value",
    index = ["gender", "education"],
    aggfunc = "mean"
)

avg_customer_lf_value

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [37]:
# Your code goes here